@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Курсовой проект</h1>
    <h1 class="display-3">Информационная система военного округа</h1>
    <h3>Выполнил:</h3>
    <h3>Студент группы РИС-19-1б</h3>
    <h3>Мазитов Тимур</h3>
</div>
