@model MilitaryDistrictAPI.Models.scaffolded.Occupation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutCRUD.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Специальносит</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OccupationId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
